/*NAV*/
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
  top: 0;
  width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:rgb(140, 150, 6);
  }
  
  /*FONDO*/
  .logofondo{
    margin-top: 3%;
    height: 250px;
  }

  body{
      background-color: rgb(221, 221, 221);
      margin: 0;
      font-family:inherit;
  }

  /*Apartados*/
  .info{
      float: left;
      width: 65%;
      background-color: rgb(140, 150, 6);
      color: black;
      height: 250px;
      text-align: center;
      font-size: 90%;
      font-family:sans-serif;
  }

.historia2{
  float: right;
  width: 65%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

/*Footer*/
footer {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  text-align: center;
  background-color: #333;
  color: salmon;
}


/*Personajes.html*/
/*Principales*/
.principales{
  width: 100%;
  text-align: center;
  align-content: center;
  height: 400px;
  margin-top: 100px;
}

.principales_Coll{
  display: block;
  height: 400px;
  width: 300px;
  float :left;
  margin-left: 15%;
  margin-right: 1%;
  border:3px;
  border-style:ridge;
  border-collapse: collapse;
  border-color: black;
}

.principales_Isoa{
  display: block;
  height: 400px;
  width: 300px;
  float :left;
  margin-left: 1%;
  margin-right: 1%;
  border:3px;
  border-style:ridge;
  border-collapse: collapse;
  border-color: rgb(140, 150, 6);
}

.principales_Vyre{
  display: block;
  height: 400px;
  width: 300px;
  float :left;
  margin-left: 1%;
  margin-right: 12%;
  border:3px;
  border-style:ridge;
  border-collapse: collapse;
  border-color: black;
}

/*Secundarios*/
.secundarios{
  width: 100%;
  text-align: center;
  height: 320px;
  margin-top: 100px;
}

.secundarios_Cid{
  display: block;
  height: 400px;
  width: 300px;
  float :left;
  margin-left: 27%;
  margin-right: 1%;
  border:3px;
  border-style:ridge;
  border-collapse: collapse;
  border-color: rgb(140, 150, 6);
}

.secundarios_Reiner{
  display: block;
  height: 400px;
  width: 300px;
  float :left;
  margin-left: 1%;
  margin-right: 1%;
  border:3px;
  border-style:ridge;
  border-collapse: collapse;
  border-color: rgb(140, 150, 6);
}

/*ZONAS*/
.base{
  margin-top: 3%;
}
.baseC{
  float: left;
  width: 65%;
  background-color: rgb(140, 150, 6);
  color: black;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

.ciudadC{
  float: right;
  width: 65%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

.desiertoC{
  float: left;
  width: 65%;
  background-color: rgb(180, 102, 12);
  color: black;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

.subC{
  float: right;
  width: 65%;
  background-color:  rgb(0, 0, 0);
  color: whitesmoke;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

.junglaC{
  float: left;
  width: 65%;
  background-color: rgb(140, 150, 6);
  color: black;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

/*JUGABILIDAD*/
.jugabilidad{
    width: 100%;
    text-align: center;
    height: 500px;
    margin-top: 45px;
    background-color: rgb(140, 150, 6);
}

.infoAlerta{
  display: block;
  height: 400px;
  width: 50%;
  float :left;
  margin-top: 0;
}

.infoComo{
  display: block;
  height: 400px;
  width: 50%;
  float :right;
  margin-top: 0;
}

/*Armamento*/
.armamento{
    width: 100%;
    text-align: center;
    height: 500px;
    margin-top: 45px;
    background-color: rgb(140, 150, 6);
    margin-bottom: 0;
}

.camuflajeBotas{
  display: block;
  height: 400px;
  width: 50%;
  float :left;
  margin-top: 2%;
}

.propulsorGrap{
  display: block;
  height: 400px;
  width: 50%;
  float :right;
  margin-top: 2%;
}