.topnav {
    background-color: #333;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
  top: 0;
  width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:rgb(140, 150, 6);
  }
  
  .logofondo{
    margin-top: 3%;
    height: 250px;
  }

  body{
      background-color: rgb(221, 221, 221);
      margin: 0;
      font-family:inherit;
  }

  .info{
      float: left;
      width: 65%;
      background-color: rgb(140, 150, 6);
      color: black;
      height: 250px;
      text-align: center;
      font-size: 90%;
      font-family:sans-serif;
  }

  .historia{
    float: left;
    width: 35%;
}

.historia2{
  float: right;
  width: 65%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  height: 250px;
  text-align: center;
  font-size: 90%;
  font-family:sans-serif;
}

footer {
  margin-top: 20%;
  display: block;
  text-align: center;
  background-color: #333;
  color: salmon;
}